<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gome.test.difftool.dao.HistorydataDAO">

    <resultMap id="detailInfo" type="com.gome.test.difftool.domain.DiffDetail">
        <result property="term" column="term"/>
        <result property="srcVersion" column="srcVersion"/>
        <result property="dictVersion" column="dictVersion"/>
        <result property="similarRate" column="similarRate"/>
        <result property="rateTotal" column="rateTotal"/>
        <result property="rateFPTotal" column="rateFPTotal"/>
    </resultMap>

    <!-- get all diff version data from db.-->
    <select id="getTermSearchData" resultType="string">
         select  responseData
          from searchhistories
           where termid=
           (
              select kid from
              baseterm where term=#{term}
           )
            and tversion in(#{srcVersion} ,#{destVersion})
    </select>
</mapper>